body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(146, 86, 171);
    color: rgb(19, 1, 27);

    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.contenedor-principal{
 
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
  box-shadow: 0 10px 25px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 4%;
}

/* Barra de Progreso */
.barra-progreso-fondo {
    width: 100%;
    height: 10px;
    background-color: rgb(68, 192, 254);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.barra-progreso-relleno {
    height: 100%;
    background-color: rgb(6, 168, 209);
    width: 0%; /* Se actualiza con JS */
    transition: width 0.3s ease;
}

/* Botones de Respuesta */
.opciones-grid {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-opcion {
    padding: 15px;
    border: 2px solid  rgb(147, 6, 207);
    background-color: rgb(233, 197, 249);
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s;
}

.btn-opcion:hover:not(:disabled) {
    background-color:  rgb(216, 153, 244);
}

/* Estados de Acierto/Error */
.correcto {
    background-color: #2ecc3b !important; /* Verde */
    color: white !important;
    border-color: #27ae3d !important;
}

.incorrecto {
    background-color: #e74c3c !important; /* Rojo */
    color: white !important;
    border-color: #c0392b !important;
}


/* Feedback y Navegación */
.feedback {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color:  rgb(217, 158, 242);
}

#btn-siguiente, .btn-reiniciar {
    padding: 10px 25px;
    background-color: rgb(17, 91, 219);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

/* Ocultar el resto de resutlatados hasta el final*/
.oculto {
    display: none !important;
}